---
name: CI

on:
  push: {}
  pull_request: {}
  workflow_dispatch: {}

jobs:

  # golangci-lint-action will fail if setup-go is called before it - but
  # to get the list of packages to lint go for `go list` is needed.
  golangci-lint-pre:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - id: lint-dirs
        run: echo "::set-output name=lint-dirs::$(make lint-dirs)"
    outputs:
      lint-dirs: ${{ steps.lint-dirs.outputs.lint-dirs }}

  golangci-lint:
    runs-on: ubuntu-latest
    needs: golangci-lint-pre
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.28
          # Restrict golangci-lint to run against chosen directories.
          # Otherwise golangci-lint attempts to lint files it cannot
          # process, such as cgo code.
          args: ${{ needs.golangci-lint-pre.outputs.lint-dirs }}
          # github.head_ref is only set on pull_request runs, not for
          # tags or branches.
          # For commits on branches and tags all issues are reported, but
          # PR runs only report new issues introduced in the PR.
          only-new-issues: ${{ github.head_ref != '' }}

  generate-required:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
      - uses: actions/checkout@v2
      - run: |
          make generate
          if [ "$(git status --porcelain | wc -l)" -ne 0 ]; then
            printf '::error ::%s' '`make generate` left or changed files'
            git status
            git diff
            exit 1
          fi

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
      - uses: actions/checkout@v2
      - run: |
          make test-go
